@use "sass:list";

// Color
$shades: 0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
//        0        50       100      200      300      400      500      600
//700      800      900
$neutral: #ffffff, #f3f4f5, #e3e5e7, #dbdee2, #c3c8cf, #a0a8b2, #88929e, #707c8a,
  #4c5c6e, #1d3249, #11263e;
$primary: #ffffff, #e7ebfe, #cfd8fc, #b7c4fa, #9fb1f9, #708af6, #3f63f3, #0f3bf0,
  #0c30c6, #092490, #061860;
$success: #ffffff, #e7fdf5, #d0fbeb, #a1f7d8, #72f3c4, #44eeb1, #1deba1, #0fa46e,
  #0a7550, #075439, #042f1f;
$warning: #ffffff, #fdf6e7, #fbedd0, #f7dca1, #f3ca72, #eeb844, #ebaa1e, #bb8511,
  #8c640d, #5e4308, #2f2104;
$error: #ffffff, #ffe6e6, #fecdcd, #fe9d9b, #fd6a68, #fd5754, #fc0f03, #ca0901,
  #970502, #650301, #320101;

$color-map: (
  neutral: $neutral,
  primary: $primary,
  success: $success,
  warning: $warning,
  error: $error,
);

@function get_color_with_shade($color, $shade) {
  $shade_index: index($shades, $shade);
  @return nth($color, $shade_index);
}
